.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.button {
  padding: 10px 20px;
}

.button:not(:last-child) {
  margin-right: 2px;
}

@media screen and (max-width: 400px) {
  .button-block {
    display: flex;
    flex-direction: column;
  }

  .button {
    padding: 10px 20px;
  }

  .button:not(:first-child) {
    margin-top: 2px;
  }
}
